@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sofia Sans';
    src: url('fonts/sofiasans-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/sofiasans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #25222a;
    font-family: "Sofia Sans"
}

.terminal {
    --background: #bb8aff;
    --color: black;
    --font: "Menlo";
    --size: 1.4;
    --terminal-height: 400;
}

.trans {
    --bg-size: 400%;
    background: linear-gradient(90deg, #f5a9b8, #ffffff, #5bfefa, #ffffff, #f5a9b8) 0 0 / var(--bg-size) 100%;
    background-clip: text;
    color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
    .trans {
        animation: move-bg 15s linear infinite;
    }
    @keyframes move-bg {
        to {
            background-position: var(--bg-size);
        }
    }
}
